<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="smileUp.Properties.Settings.orthoprojectConnectionString"
            connectionString="server=localhost;User Id=root;database=orthoproject" />
    </connectionStrings>
</configuration>