<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smileUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="smileUp.Properties.Settings.orthoprojectConnectionString"
            connectionString="server=localhost;User Id=root;database=orthoproject" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <smileUp.Properties.Settings>
            <setting name="ScannedPath" serializeAs="String">
                <value>C:\DentalSmile\Resources\ScannedFiles\</value>
            </setting>
            <setting name="ManipulatedPath" serializeAs="String">
                <value>c:\DentalSmile\Resources\ManipulatedFiles\</value>
            </setting>
            <setting name="PhotoPath" serializeAs="String">
                <value>c:\DentalSmile\Resources\PhotoFiles\</value>
            </setting>
            <setting name="DbHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DbUserId" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DbDatabase" serializeAs="String">
                <value>dentalsmile</value>
            </setting>
            <setting name="InstallationMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Room" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>Black</value>
            </setting>
        </smileUp.Properties.Settings>
    </userSettings>
</configuration>
